# Compiled nonsense that does not belong in *source* control
**/build
/build
/bin
**/bin
/.gradle
**/.gradle
/minecraft
*/minecraft
/out
*/run
*/out
/run
/classes

# IDE nonsense that could go in source control but really shouldn't
.classpath
.project
.metadata
.settings
*.launch
*.iml
.idea
*.ipr
*.iws
.vscode

# Sekrit files 
private.properties

# Files from bad operating systems :^)
Thumbs.db
.DS_Store
/.architectury-transformer/debug.log